.image1{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    transition-duration: 3s;
    animation-name: mani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes mani {
    40%{
        height: 100px;
        width: 100px;
        float: right;
    }
    40%{
        height: 100px;
        width: 100px;
        float: left;

    }
    
}