.image1{}

.image2{}

.image3{}

.image4{}




.image1:hover{transform: rotate(160deg);}
 
.image2:hover{transform: scale(3);}

.image3:hover{transform: translate(200px);}

.image4:hover{transform: translateY(200px);}
