#a{
    display: inline-block;
}
#f{
    height: 600px;
    width: 400px;
    border: 10px solid chartreuse;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-bottom: 500px;
}
.b{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    position: fixed;
    top:50px;
}
.c{
    height: 150px;
    width: 150px;
    background-color: aqua;
    position: relative;
    top:50px;
    z-index: 2;
    
    left:50px; 
}
.d{
    height: 150px;
    width: 150px;
    background-color:pink;
    position: -webkit-sticky;
    position: sticky;
    top:50px;
}
.e{
    height: 150px;
    width: 150px;
    z-index: 3;
    left: 2cm;
    background-color:blue;
    position: relative;
    bottom: 100px;
}
